# **My first code**

In [4]:
print("Hello World")

Hello World

In [3]:
"Milan".upper()

'MILAN'

In [4]:
x = 10

In [5]:
x = 10.3

In [11]:
x = 10 + 5j

In [12]:
y = 5

In [13]:
x + y

(15+5j)

In [7]:
x = "Milan"

In [8]:
a = 'single'

In [9]:
b = "double"

In [10]:
c = """

i wrote my string data here


"""

In [14]:
bool_example = True

In [15]:
bool_example = False

In [21]:
my_list = [11, 22, 33, 44]

In [26]:
my_list[2] = 100

In [27]:
print(my_list)

[11, 22, 100, 44]

In [41]:
my_list.sort(reverse=False)

In [61]:
my_list.append(44)

In [62]:
my_list

[11, 22, 44, 100, 44]

In [63]:
set(my_list)

{11, 22, 44, 100}

In [53]:
min(my_list)

11

In [54]:
max(my_list)

100

In [28]:
my_tuple = (1, 2, 3)

In [29]:
my_tuple[0]

1

In [30]:
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [31]:
my_dict = {'FirstName': 'Milan', 'LastName':'Varghese'}

In [32]:
my_dict['FirstName']

'Milan'

In [33]:
my_dict['LastName']

'Varghese'

In [34]:
my_dict.keys()

dict_keys(['FirstName', 'LastName'])

In [35]:
my_dict.values()

dict_values(['Milan', 'Varghese'])

In [36]:
my_dict.items()

dict_items([('FirstName', 'Milan'), ('LastName', 'Varghese')])

In [43]:
my_dict['FirstName'] = "Allen"

In [44]:
my_dict

{'FirstName': 'Allen', 'LastName': 'Varghese'}

In [46]:
my_set = {4, 1, 2, 2, 3, 3}

In [47]:
my_set

{1, 2, 3, 4}

In [57]:
firstName = input("Enter your name: ")

In [58]:
firstName

'Milan'